.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  padding: 3rem 2rem;
  gap: 2rem;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 2rem 0.5rem;
  }
}
